<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Página de Inicio</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/common-styles.css}">
</head>
<body>
<div class="main-container home-container">
  <h1>Bienvenido al Opotromatic 3000</h1>
  <p>Haz clic para acceder a la aplicación.</p>

  <a href="/api/questions/listing" class="button-link">Comenzar Test</a>
  <a href="/api/manage/config" class="button-link">Configuración</a>
  <a href="/shutdown"
     onclick="return confirm('¿Estás seguro que deseas cerrar la aplicación por completo?');"
     class="btn-danger">
    Cerrar Aplicación
  </a>
</div>
</body>
</html>